$black: #202020;
$black-low-oppacity: rgba(32, 32, 32, 50%);
$yellow: #FFCB47;

$shadow-black: rgba(32, 32, 32, 7%);
$shadow-yellow: rgba(255, 203, 71, 50%);

$font-elsie: 'Elsie Swash Caps', cursive;