@import 'styles/variaveis'
  
.cabecalho 
  background-color: transparent
  display: flex
  justify-content: space-around
  margin: 1em 0

  .navegacao
    display: flex
    padding: 0

    .navegacao__item
      margin: 0 1em
    
    .navegacao__link
      color: $preto
      line-height: 20px
  
